* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
.menubar {
	background: #FFA500;
	text-align:center;
}

.menubar ul {
	
	display: inline-flex;
	list-style:none;
	color: #fff;
}

.menubar ul li {
	
	width: 190px;
	margin: 15px;
	padding: 15px;
}
.menubar ul li a{
	text-decoration: none;
	color:#fff;
	width:100px;
}

.active, .menubar ul li:hover {
	background: #ac4b1c;
	border-radius: 3px;
}

.menubar .fa{
	margin-right: 4px;
}

.submenu-1{
	display:none;
}

.menubar ul li:hover .submenu-1{
	display: block;
	position: absolute;
	background: #fca652;
	margin-top: 15px;
	margin-left: -15px;
	z-index:999;
}

.menubar ul li:hover .submenu-1 ul {
	
	display: block;
	margin:10px;
}

.menubar ul li:hover .submenu-1 ul li {
	width: 180px;
	padding: 10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}

.menubar ul li:hover .submenu-1 ul li:last-child{
	border-bottom:none;
}

.menubar ul li:hover .submenu-1 ul li a:hover{
	color:#be5683;
}

.fa-angle-right{
	float: right;
}


.submenu-2{
	display:none;
}

.samajas:hover .submenu-2{
	display: block;
	position: absolute;
	background: #fca652;
	margin-top: -40px;
	margin-left: 145px;
}
